.App {
  text-align: center; 
  background-color: #e2ce8f;
  margin: 0;
  padding: 0;
}

.image1{
  width: 100%;
}

.btn-text {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  padding: 5px;
  width: 300px;
  height: 100%;
  font-size: 1.0rem;
  white-space: nowrap;
  background-color: #a74620;
  border-color: #ac8686;
  border-radius: 5px;
  text-decoration: none;
}
.btn-text:hover {
  background-color: #2d0c01; /* Deep Bajrangi Maroon on hover */
  border-color: #e77930; /* Saffron Border on hover */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.all{
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ttt {
  font-family: 'Poppins', 'Arial Black', sans-serif;
  font-weight: 600;
  color: #b5090e;
  font-size: 25px;
}
